@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  font-family: Open Sans;
}

h1 {
  font-size: 38px;
}

header {
  background-color: #e4032b;
  color: #ffffff;
  grid-column: 1/3;
}

aside select,
aside input,
aside {
  font-size: 20px;
}

main {
  display: grid;
  grid-template-rows: 2fr 4fr;
  font-size: 24px;
}

header,
main,
aside {
  padding: 12px;
}

aside {
  background-color: #c89cab;
  line-height: 2;
}

footer {
  grid-column: 1/3;
  background-color: #311622;
  text-align: right;
  color: #ffffff;
  padding-right: 10px;
  font-size: 18px;
}

header,
aside,
main,
footer {
  border: 1px solid #ffffff;
}
