@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

html,
body {
  margin: 0;
}

body {
  display: grid;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
  background-color: #e4032b;
  color: #ffffff;
  margin-top: 0;
  padding: 8px;
  height: 157px;
}

h1 {
  text-align: center;
  font-size: 32px;
  padding-top: 21px;
  margin-bottom: 40px;
}

header a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

header a:hover {
  color: #333333;
  text-transform: uppercase;
}

.span-links {
  margin: 0 28px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
  margin: 5px;
}

aside,
section {
  border: 1px solid white;
  box-shadow: 3px 3px lightgrey;
  margin: 5px;
  border-radius: 6px;
}

aside {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #9babbf;
  line-height: 2;
}

aside a {
  text-decoration: none;
  color: black;
}

aside a:hover {
  text-transform: uppercase;
  color: #ffffff;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  grid-column: 2/4;
  background-image: linear-gradient(to bottom right, #cfe4ff, white);
}

img {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 180px;
  width: auto;
  margin-top: 10px;
}

article {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 8px;
}

footer {
  background-color: #333333;
  text-align: right;
  color: #ffffff;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}

footer p {
  padding: 2px 8px;
  margin: 0;
}

@media (max-width: 770px) {
  body {
    background-color: rgb(248, 202, 202);
  }

  aside,
  section {
    grid-column: 1/4;
  }

  .span-links {
    margin: 0 22px;
  }
}

@media (max-width: 420px) {
  .span-links {
    margin: 0 3px;
  }

  header a {
    font-size: 12px;
  }

  aside {
    font-size: 14px;
  }
}
