@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hidden-at-first {
  display: none;
}

.initial-look {
  width: 100%;
  height: 100%;
  background-color: #e4032b;
  border: none;
  font-size: 14px;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  font-family: Open Sans;
}

header {
  background-color: #e4032b;
  color: #ffffff;
  grid-column: 1/3;
}

h1 {
  font-size: 30px;
}

h1,
h2 {
  text-align: center;
}

aside select,
aside input,
aside,
button {
  font-size: 14px;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 18px;
}

header,
main,
aside {
  padding: 8px;
}

aside {
  background-color: #19a8e3;
  line-height: 2;
}

footer {
  grid-column: 1/3;
  /* background-color: #311622; */
  background-color: #630113;
  text-align: right;
  color: #ffffff;
  padding-right: 10px;
  font-size: 12px;
}

header.new-look,
aside,
main,
footer {
  border: 1px solid #ffffff;
}

header.new-look h2 {
  font-size: 18px;
}

header section {
  font-size: 12px;
}

aside {
  box-shadow: 6px 6px lightgrey;
  margin: 8px;
  border-radius: 6px;
}

.links {
  justify-content: center;
}

.links a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.hoover a {
  color: #19a8e3;
  text-decoration: line-through;
}